.about-us {
    position: relative;
}

.about-us-image {
    height: 38rem;
    width: 100vw;
    object-fit:cover;
    display: block;
    max-width: 100%;
    overflow-x: hidden;

}



.about-us-info {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 18%;
    padding-bottom: 10%;
    height: 38rem;
}

.about-us-info h1 {
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.7em;
    line-height: 1.3;
    color: white;
    margin: 2rem auto;
    padding: 0;
}

.about-us-info p {
    font-family: $font-body;
    font-weight: 400;
    color: white;
    width: 65vw;
    margin: 0 auto;
}

.about-us button{
    width: auto;
    height: 4rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $font-header;
    background: transparent;
    margin: 4rem auto;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);

}

@media (min-width: $breakpoint-tablet){
    .about-us h1 {
        font-size: 2.5rem;
    }

    .about-us p {
        font-size: 1.2rem;
    }
}

@media (min-width: $breakpoint-desktop){
    .about-us-info {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .about-us-info p {
        max-width: 56rem;
    }
}