.about-us {
    position: relative;
}


.about-us-image {
    height: 70vh;
    width: 100vw;
    object-fit:cover;
}

// .about-us-overlay {
//     position: absolute;
//     width: 100vw;
//     height: 70vh;
//     left: 0;
//     background: rgba(0, 0, 0, 0.8);
//     z-index: 1000;
// }

// .about-us-image:after {
//     content: " ";
//     height: 70vh;
//     display: block;
//     top: 0;
//     left: 0;
//     right: 0;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 1000;
//     position: absolute;
// }


.about-us-info {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.about-us h1{
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.7em;
    color: white;
    position: absolute;
    top: 5rem;
}

.about-us p{
    font-family: $font-body;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 17rem;
}

.about-us button{
            width: auto;
            height: 4rem;
            padding: 0.5rem 2rem;
            text-transform: uppercase;
            font-size: 1rem;
            font-family: $font-header;
            background: transparent;
            margin: 0.5rem auto;
            border: 2px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            position: absolute;
            top: 22rem;

            
}