.white-wave img{
    background-color: black;
    position:absolute;
    width: 100%;
    height: auto;
    z-index: 10;
}

.dark-blue-wave img{
    position:relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
