.white-wave img{
    position:absolute;
    top: 35rem;
    width: 100%;
    height: auto;
    z-index: 10;
}

.dark-blue-wave img{
    position:relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
