body {
    h1 {
        font-family: $font-header;
        font-size: 2rem;
        text-align: center;
        line-height: 1.3;
        width: 25rem;
        text-transform: uppercase;
        color: map-get($colors, bright-white);
        z-index: 1;
        padding-bottom: 5rem;
    }

    .slideImage {
        height: 30rem;
        width: auto;
        overflow: hidden;
    }
}