.email-signup {
    background-color: map-get($colors, sky-blue);
    height: 8rem;
    padding: 3rem 1rem;
    // change height to viewheightonce javascript is fixed?

    p {
        font-family: $font-body;
        font-size: 2rem;
        text-align: center;
        color: map-get($colors, dark-blue);
        padding-bottom: 1rem;
    }

    form {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        padding-top: 1rem;
    }

    .emailInput {
        border: none;
        height: 3rem;
        width: 25rem;
        font-size: 1rem;
        padding-left: 1rem;
    }

    .emailSubmit {
        background-color: map-get($colors, light-blue);
        color: white;
        text-transform: uppercase;
        border: none;
        padding: 0.5rem;
        width: 10rem;
        height: 3rem;
        font-size: 1.75rem;
        font-family: $font-body;
        font-weight: bold;

    }
}