header {
    background-color: map-get($colors, dark-grey);
    display: flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    
    a:hover {
        background-color: map-get($colors, light-blue);
    }

    img {
        width: 7rem;
        height: auto;
        padding: 1rem;
        float: left;
    }

    .left {
        visibility: collapse;
    }

    .right{
        visibility: collapse;
    }

    .icon-mail-circled,
    .icon-phone-circled {
        color: map-get($colors, bright-white);
        visibility: hidden;
    }

}

@media screen and (min-width: $breakpoint-tablet) {
    .navbar {
        background: none;
    }
    .toplogo {
        margin: 0 auto;
    }

    header img {
        width: 10rem;
        height: auto;
    }

    div.left {
        visibility: visible;
        display: flex;
        padding: 1rem;
        z-index: 1000;
        position: absolute;
        left: 0;
    }
    div.right{
        visibility: visible;
        display: flex;
        padding: 1rem;
        position: absolute;
        right: 0;
    }

    .lg-nav a {
        font-family: $font-body;
        color: map-get($colors, bright-white);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1rem;
    }

    header {

        .icon-mail-circled,
        .icon-phone-circled {
            visibility: visible;
        }

    }
}

@media screen and (min-width: $breakpoint-desktop) {
    header img {
        width: 15rem;
        height: auto;
    }
}