.customized-text {
    text-align: center;
}

.customized-text h2 {
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
    z-index: 100;
}

.customized-text p {
    margin-top: 1rem;
    font-family: $font-body;
}


.customized-flex-section {
    margin-top: 2rem;
    @include flex-center;
}

.machine {
    display: flex;
    padding: 1rem;
}

.machine-title {
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 1rem;
    align-self: center;
}

.machine-link {
    display: none;
}

.machine:nth-child(2) {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
}

.machine:nth-child(3){
border-bottom: 1px solid grey;
}

@media (min-width: $breakpoint-tablet){
    .machine:nth-child(2), .machine:nth-child(3) {
        border: none;
    }
}