.customized-text {
    text-align: center;
}

.customized-text h2 {
    margin-top: 8rem;
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    z-index: 100;
}

.customized-text p {
    margin-top: 1rem;
    font-family: $font-body;
}


.customized-flex-section {
    margin-top: 2rem;
    @include flex-center;
}

.machine {
    display: flex;
    // padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.machine-image {
    width: 50%;
}

@media (max-width: 375px){
    .img-machine {
        width: 200px;
    }

}
.machine-info {
    width: 50%;
}

// .img-machine {
//     width: 200px;
// }

.machine-title {
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.5em;
    width: auto;
    // margin-left: 1rem;
    align-self: center;
}

.machine-link {
    display: none;
}

.machine:nth-child(2) {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
}

.machine:nth-child(3){
border-bottom: 1px solid grey;
}

.machine:last-child{
    margin-bottom: 4rem;
}

@media (min-width: $breakpoint-tablet){
    .machine:nth-child(2), .machine:nth-child(3) {
        border: none;
    }
}