#customized {
    margin: 2rem;
}

.customized-text {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
}

.customized-text h2 {
    // margin-top: 8rem;
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    z-index: 100;
}

.customized-text p {
    margin-top: 1rem;
    font-family: $font-body;
}


.customized-flex-section {
    margin-top: 2rem;
    margin: 0 auto;
    max-width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;

}

.machine {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    // position: relative;
}

.machine::after{
    content: "";
    clear: both;
    display: table;
}


.machine-image img {
    width: 80%;
}

.machine-info {
    width: 20%;
}




.machine-title {
    color: map-get($colors, dark-grey);
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 1.2em;
    width: auto;
    // margin-left: 1rem;
    align-self: center;
}

.machine-link {
    display: none;
}

.machine:nth-child(2) {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
}

.machine:nth-child(3){
border-bottom: 1px solid grey;
}

.machine:last-child{
    margin-bottom: 8rem;
}

@media (min-width: $breakpoint-tablet){
    .customized-flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

    .machine {
    width: 22rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }

    .machine:nth-child(2), .machine:nth-child(3) {
        border: none;
    }

    .machine:first-child, .machine:nth-child(2), .machine:nth-child(3) {
        margin-bottom: 8rem;
    }

    .machine-title{
        color: map-get($colors, light-blue);
    }

    .machine-link{
        font-family: $font-body;
        color: black;
        display: block;
    }
}