nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    margin: 0 auto;
    top: 6rem;
    position: absolute;
    padding-bottom: 1rem;
    z-index: 2;

    a {
        text-decoration: none;
        color: map-get($colors, bright-white);
        text-transform: uppercase;
        padding: 0 20px;
        display: block;
        width: 100%;
        font-family: $font-body;
        line-height: 1.4;
        font-size: 1.5rem;
    }

    a:hover {
        background-color: map-get($colors, light-blue);
    }

    ul {
        padding-bottom: 1rem;
        margin: 0;
        list-style: none;
        background-color: map-get($colors, dark-grey);

    }

    .main-navigation {
        transition: top 600ms cubic-bezier(0, 1, 0.5, 1);
        position: relative;
    }

}

nav.activated {
    transition: height 0.3s ease, visibility 0s;
}

.show nav {
    transition: height 0.3s ease, visibility 0s 0.3s;
    visibility: visible;
    height: 253px;
}