nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    margin: 0 auto;
    top: 5rem;
    position: absolute;
    padding-bottom: 1rem;
    z-index: 2;
    transition: all .25s ease-in-out;

    a {
        text-decoration: none;
        color: map-get($colors, bright-white);
        text-transform: uppercase;
        padding: 0.25rem 1rem;
        display: block;
        width: 100%;
        font-family: $font-body;
        line-height: 1.4;
        font-size: 1rem;
    }

    a:hover {
        background-color: map-get($colors, light-blue);
    }

    ul {
        padding-bottom: 1rem;
        margin: 0;
        list-style: none;
        background-color: map-get($colors, dark-grey);

    }

    .main-navigation {
        position: relative;
    }

}

nav.activated {
    transition: height 0.3s ease, visibility 0s;
}

.show nav {
    transition: all .25s ease-in-out;
    visibility: visible;
    height: 253px;
}

@media screen and (min-width: $breakpoint-tablet) {
    nav {
        visibility: visible;
        height: 10rem;
        position: absolute;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    #main-navigation {
        margin: 1rem auto;
        width: 50rem;
        padding: 0.75rem;
    }

    a {
        font-size: 1rem;
        padding: 0.25rem none;
    }

    .dissapear {
        display: none;
    }
}