.form-section {       
        
        .form-header {
        background-color: #154A66;
        font-family: $font-header;
        font-size: 2rem;
        text-align: center;
        color: map-get($colors, bright-white);
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
     .form-p {
        background-color: #154A66;
        font-family: $font-body;
        color: map-get($colors, bright-white);
        font-size: 1rem;
        padding-bottom:20px;
        text-align: center;
    }

    hr {
        background-color: white;
        border: 0;
        height: 1px;
        margin: 0 1rem;
        border-width: 6px;
    }

    .form {
    padding-top: 1rem;
    background-color: #154A66;
    font-family: $font-body;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .item {
        font-family: $font-header;
        color: map-get($colors, bright-white);
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 28rem;
    }

    input {
        text-align: center;
        width: 90%;
        height: 3rem;
        font-size: 1.25rem;
        font-family: $font-body;
        text-transform: uppercase;
        background-color: #009DDC;
        border: none;
        color: map-get($colors, bright-white);
        position:relative;
        margin: 0 auto 2rem;
    }

    .select {
        font-size: 1.5rem;
        width: 95%;
        background-color: map-get($colors, light-grey);
        font-family: $font-header;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 10%;
        padding: 25px 100px;
    }

    select.select {
        padding: 1rem 0;
        max-width: 100%;
        text-align: left;
        padding-left: 1rem;
        color: map-get($colors, dark-grey);
    }

    .select:hover,
    .select:focus {
        background-color: map-get($colors, bright-white);
    }   

    option {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    @media only screen and ( min-width:$breakpoint-mobile) {
        .form-section {
            font-family: $font-header;
            padding: 5rem;
            font-size: 1rem;
            text-align: left;
            color: map-get($colors, bright-white);
            font-weight: bold;
            width: 100%;
        }
        .item {
            width: 25rem;
            flex-wrap: wrap;
        }

        .form {
            justify-content: center;
        }

    }
    @media only screen and ( min-width:$breakpoint-tablet) {
        form {
            font-family: $font-header;
            background-color: #154A66;
            font-size: 1rem;
            text-align: left;
            color: map-get($colors, bright-white);
            font-weight: bold;
            display:flex;
            flex-wrap: wrap;
        }
    }


@media (min-width: $breakpoint-desktop){
    .item {
        width: 23rem;
    }

    input {
        width: 95%;
    }
}


    }
}
