
.slideshow-container {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin: auto;

    h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .img {
        vertical-align: middle;
    }

    .mySlides {
        display: none;
    }

    .dot {
        height: 12px;
        width: 12px;
        margin: 0 2px;
        border-radius: 50%;
        background-color: map-get($colors, bright-white);
        display: inline-block;
        position: absolute;
        bottom: 50px;
      }

    .dotone {
        left: 45%
    }

    .dottwo {
        left: 50%;
    }

    .dotthree {
        left: 55%;
    }

    .active {
        background-color: map-get($colors, light-blue);
    }

    .dot:hover {
        background-color: map-get($colors, light-blue);
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
        }

    @-webkit-keyframes fade {
        from {opacity: .25;}
        to {opacity: 1;}
    }

    @keyframes fade {
        from {opacity: .25;}
        to {opacity: 1;}
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .slideshow-container {

        h1 {
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        margin-bottom: 0;
        }
    }

    h1 {
        margin: 0 auto;
    }
}