// Fonts
$font-body: 'Roboto', sans-serif;
$font-header: 'Roboto Condensed', sans-serif;


// Colors
$colors: (
    sky-blue: #a4cedf,
    light-blue: #009ddc,
    dark-blue: #154a66,
    light-grey: #cbd1dc,
    dark-grey: rgba(45, 46, 48, 0.7),
    bright-white: #ffffff,
);

//Media Query Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 850px;
$breakpoint-desktop: 1000px;