// Fonts
$font-body: 'Roboto', sans-serif;
$font-header: 'Roboto Condensed', sans-serif;


// Colors
$colors: (
    light-blue: #009ddc,
    dark-blue: #154a66,
    light-grey: #ccd2dd,
    dark-grey: rgba(78, 80, 83, 0.8),
    bright-white: #ffffff
);

//Media Query Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 750px;
$brekpoint-desktop: 1000px;