.view-buttons {

    button {
        width: auto;
        height: 3rem;
        padding: auto 1.5rem;
        font-size: 1.25rem;
        font-family: $font-body;
        text-transform: uppercase;
        background: transparent;
        margin: 0 auto;
        border: 1px solid map-get($colors, bright-white);
        color: map-get($colors, bright-white);
        position: absolute;
    }

    .view-products {
        bottom: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .view-services {
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

    @media screen and (min-width: $breakpoint-tablet) {

        article.view-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        display: inline;
        bottom: 7rem;
        right: 5.75rem;
           
            .view-products {
                margin-right: 12rem;
            }
        
            .view-services {
                margin-left: 12rem;
            }
        }
    }
    