.view-buttons {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    button {
        width: auto;
        height: 3rem;
        padding: auto 1.5rem;
        font-size: 1.25rem;
        font-family: $font-body;
        text-transform: uppercase;
        background: transparent;
        margin: 0 auto;
        border: 1px solid map-get($colors, bright-white);
        color: map-get($colors, bright-white);
        position: absolute;
        
    }

    .view-products {
        bottom: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .view-services {
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
